@import '../../global/global.css';

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--cor-branco);
    text-align: center;
}
.login {
    background-color: var(--cor-branco);
    width: 100%;
    height: 100vh;  
    & h1 {
        margin: 36px;
        font-size: 3.5rem;
        color: var(--cor-principal);
        font-family: "Jomolhari", serif;
        text-align: center;
    }
}

.login form {
    margin-top: 100px;
    width: 360px;
    padding: 20px;
    width: 100%;
    height: 100vh;
}
.campos-entrada {
    display: grid;
    text-align: center;
}
input[type=text],[type=password] {
    margin-bottom: 20px;
    padding: 18px 15px;
    border: 1px solid #948f8f;
    border-radius: 12px;
    outline: none;
    width: 100%; 
    font-size: 18px;
    font-weight: 600;
}
.btn-entrar {
    font-size: 24px;
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    border-radius: 12px;
    padding: 16px;
    font-weight: 700;
}
.acoes-cadastro {
    display: flex;
}
.acoes-cadastro  button{
    width: 100%;
    padding: 18px 15px;
    background-color: var(--cor-branco);
    font-family: "Roboto", sans-serif;
    color: var(--cor-principal);
    font-weight: 800;
}